.nav-bar {
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 0 0 0;
    padding: 0 5%;
    z-index: 999;
}

.btn {
    display: flex;
}

.signup-btn {
    margin: 0px 14px;
    color: white;
    text-decoration: none;
    padding: 14px 5.6px;
    cursor: pointer;
    font-size: 16px;
    border-bottom: 2px solid transparent;
    font-family: cereal;
}

.login-btn {
    margin: 0px 14px;
    color: white;
    text-decoration: none;
    padding: 14px 5.6px;
    cursor: pointer;
    font-size: 16px;
    border-bottom: 2px solid transparent;
    font-family: cereal;
}

.signup-btn:hover {
    border-bottom: 2px solid white;
}

.login-btn:hover {
    border-bottom: 2px solid white;
}



// .logo-img {
//     // background-image: url(aribnb_white.jpg);
//     // height: 40px;
//     // width: 40px;
//     // background-size: contain;
//     // display: block;
//     // cursor: pointer;
// }

.welcome-info {
    display: flex;
}
.welcome-info h3{
    margin: 0px 7px;
    color: white;
    text-decoration: none;
    padding: 14px 5.6px;
    font-size: 16px;
    border-bottom: 2px solid transparent;
    font-family: cereal;
}

.logout-btn {
    margin: 0px 14px;
    color: white;
    text-decoration: none;
    padding: 14px 5.6px;
    cursor: pointer;
    font-size: 16px;
    border-bottom: 2px solid transparent;
    font-family: cereal;
}

.logout-btn:hover {
    border-bottom: 2px solid white;
}
