.form-container {
    background-color: white;
    padding: 2rem;
    width: 450px;
    position: relative;
    font-family: Roboto;
}
*, :before {
  box-sizing: inherit;
}


.modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(146, 146, 146, 0.527);
    //opacity: 80%;
    z-index: 10;
  }
  
  .modal-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .exit-modal {
    display: inline-block;
    -webkit-text-stroke: 2.7px white;
    text-align: center;
    position: absolute;
    top: 2rem;
    right: 2rem;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    box-shadow: 0px 2px 7px rgb(192, 192, 192);
    cursor: pointer;
  }
  
  .exit-modal img {
    padding-top: 7px;
    padding-left: 1px;
  }


  

////////////////////////////////////////////////////
/// 
.whole-exit {
  margin-bottom: 0 !important;
  font-size: 22px;
  font-family: Roboto;
  font-weight: 550;
}

a.form-submit-btn {
  margin-top: 2rem !important;
  display: inline-block;
  text-align: center;
  background-color: #fff !important;
  color: #000 !important;
  border: 1px solid rgb(118, 118, 118);
  border-radius: 5px;
  padding: 1rem;
  width: 92%;
  font-size: 100;
  font-weight: 600;
  border-radius: 5px;
  text-decoration: none;
}



.form-box {
  padding-bottom: 25px;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  align-items: center;
}



.form-input {
  padding: 0.9rem !important;
  font-size: 1rem !important;
  margin-bottom: 1.2rem !important;
  font-weight: 300;
  border-radius: 5px;
  width: 92%;
  border: 1px solid rgb(118, 118, 118);
  outline: none;
  font-size: 22px;
}

.session-button {
  background-color: #FF385C !important;
  padding: 1rem;
  width: 91%;
  color: #fff !important;
  font-size: 1.1rem !important;
  font-weight: 600;
  border-color: transparent;
  border-radius: 5px;
  cursor: pointer;
}

// .session-buttion:active {
//   background-color: rgb(223, 60, 71) !important;
// }



.modal__btn-close img {
  display: block;
  color: rgb(118, 118, 118);
  font-size: 1.8rem;
  position: relative;
  top: 5.2px;
}

.modal__divider-container {
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 2rem;
  position: relative;
  height: 0;
}

.modal__divider-content {
  text-align: center;
  background-color: #fff;
  position: relative;
  top: -0.1rem;
  display: inline-block;
  left: 50%;
  padding: 0.8rem 1rem;
  transform: translate(-50%, -50%);
  color: #767676 !important;
}

.session-form-footer {
  padding-top: 20px;
  color: rgba(0, 0, 0, 0.7);
}

a.other-form-link {
  color: rgb(36, 108, 108);
  cursor: pointer;
  font-size: 14px;
  border-bottom: 1px solid rgb(36, 108, 108);
}

.session-errors {
  width: 100%;
  text-align: center;
  color:#c40000;
}