.index-item-image {
    height: 300px;
    width: 320px;
}

.index-item-image img {
    border-radius: 3%;
    width: 100%;
    height: 98%;
}

.index-item-image img:hover {
    filter: brightness(90%);
}

.index_page_all_rooms {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    left: 0;
    right: 0;
    margin: 0 0 0 0;
    padding: 0 5% 0 6%;
}

.room-index-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    left: 0;
    right: 0;
    margin: 20px 5px 20px 5px;
    cursor: pointer;
    // padding: 0 5%;
}



.index-item-info {
    width: 100%;
    height: auto;
    line-height: 20px;
    font-family: Roboto;
    font-size: 15px;
}

.index-item-info-i {
    text-align: justify;
    display: flex;
    justify-content: flex-start;
}

#index-item-info-i-city {
    font-weight: 600;
}
#index-item-info-i-price {
    font-weight: 400;
}

.user-pane {
    margin-bottom: 40px;
}

#techs-info-col.techs-info-container {
    padding-bottom: 20px;
}