.room-detail-all {
    width: 76%;
    margin-left: 12%;
}

.room-detail-title {          //换title的字体字号
    font-size: 26px !important;
    font-weight: 700 !important;
    margin: 15px 0 15px 0;
    font-family: Georgia, serif;


}

.room-detail-title-below-info{
    display: flex;
    font-size: 14px;
    justify-content: space-between;
    flex-direction: row;
    margin: 15px 0 15px 0;
    font-weight: 500;
    font-family: FreeMono, monospace;
}

.room-detail-title-below-info div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 6px;
}

.room-detail-title-below-info-left {
    width: 50%;
}

.room-detail-images {
    width: 100%;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

.room-detail-images-items-big {
    width: 50%;
}

.room-detail-images-items-big img {
    width: 100%;
    height: 100%;
}

.room-detail-images-items-small {
    width: 50%;
    display: flex;
    flex-wrap: wrap;

}

.room-detail-images-items-small img {
    width: 50%;
    height: 50%;
}

.room-detail-two-half {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3%;
}

.room-detail-left-half {
    width: 59%;
    border: 1px solid;
    border-color: black;
}

.room-detail-right-half {
    width: 34%;
    border: 1px solid;
    border-color: red;
}

.detail-host {
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: row;
    padding-bottom: 5%;
    border-bottom: 1px solid rgba(199, 199, 199, 0.704);
}

.detail-host-words{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#detail-host-words-line1{
    font-family: FreeMono, monospace;
    font-weight: 600;
    font-size: 22px;
}

#detail-host-words-line2{
    font-family: FreeMono, monospace;
    font-weight: 400;
    font-size: 16px;
}

.detail-host-img {
    width: 8%;
    height: auto;
    display: flex;
}
.detail-host-img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
}

.detail-pros {
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(199, 199, 199, 0.704);
}

.detail-pros-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 1%;
    margin-bottom: 1%;
}

.detail-pros-item-comp {
    font-size: 35px;
    margin-right: 2%;
}

.detail-pros-item-words {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.detail-pros-item-words-line1 {
    font-size: 16px;
    font-weight: 600;
    font-family: FreeMono, monospace;
    color: rgb(37, 37, 37);
}

.detail-pros-item-words-line2 {
    font-size: 14px;
    font-weight: 200;
    font-family: FreeMono, monospace;
    color: rgb(113, 113, 113);
}

.detail-aircover {
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
    border-bottom: 1px solid rgba(199, 199, 199, 0.704);
}

.detail-aircover img{
    width: 18%;
    height: auto;
}

.detail-aircover p{
    margin-top: 4%;
    font-size: 16px;
    font-weight: 300;
    font-family: FreeMono, monospace;
}

.detail-description {
    margin-top: 5%;
    margin-bottom: 5%;
    padding-bottom: 25px;
    border-bottom: 1px solid rgba(199, 199, 199, 0.704);
}

.detail-description p{
    margin-top: 2%;
    font-size: 16px;
    font-weight: 300;
    font-family: FreeMono, monospace;
}

.detail-place-offers {
    margin-top: 5%;
    margin-bottom: 5%;
    padding-bottom: 25px;
    border-bottom: 1px solid rgba(199, 199, 199, 0.704);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.detail-place-offers-title {
    font-family: FreeMono, monospace;
    font-weight: 600;
    font-size: 22px;
}



.detail-place-offers-items{
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
}

.detail-place-offers-item {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 16px;
    font-family: FreeMono, monospace;
    font-weight: 300;

}

.detail-place-offers-item-comp {
    width: 20%;
    font-size: 25px;
}

.detail-place-offers-item-word {
    width: 80%;
    display: flex;
    align-items: center;
}